<div :class="sidebarClasses" :data-background-color="backgroundColor" :data-active-color="activeColor"
  data-image="../../../../assets/images/full-screen-image.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-img">
          <img src="../../../../assets/images/vue-logo.png" alt="">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        Paper Dashboard
      </a>
    </div>
    <slot>

    </slot>
    <b-nav vertical>
      <b-nav-item v-for="link in sidebarLinks" :key="link.name" :to="link.path">
        <i :class="link.icon"></i>
        <p>{{link.name}}</p>
      </b-nav-item>
    </b-nav>
    <!-- <arrow :move-y="arrowMovePx">

    </arrow> -->
  </div>
  <div class="sidebar-background" style="background-image: url(../../../../assets/images/full-screen-image.jpg)"></div>
</div>